* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #16171B ;
    --bg-color-secondary: #222327 ;
    --bg-card: #1D1D1F ;
    --bg-light: #303133 ;
    --ui-red: #B92F21 ;
    --whate: #fff ;
    --shadow: -1px 4px 6px 3px rgba(15, 28, 39, 0.23);
    --color: #E4E4E7 ;
    --border-radius: 8px;
    --font: "Lato";
}
